.stepContainer {
  display: flex;
  background: var(--neutral-white);
  border-radius: 14px;
  padding: 1rem;
  flex-direction: row;
  width: 940px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.stepsContentSection {
  width: 100%;
  padding: 40px 16px 16px;
  display: flex;
  justify-content: center;
  user-select: none;
}

.stepsContentDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stepsContent {
  width: 436px;
  max-width: 100%;
  display: flex;
  gap: 26px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.thankYouIcon {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.thankYouTitle {
  color: var(--primary-blue-950);
  font-size: 32px;
  font-weight: var(--bold-weigth);
}

.thankYouDescription {
  color: var(--neutral-grey-500);
  font-size: 16px;
  font-weight: var(--regular-weigth);
  line-height: 24px;
  text-transform: none;
  text-align: center;
}

/* Responsive Design | Mobile */
@media (max-width: 768px) {
  .stepContainer {
    background: transparent;
    border-radius: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    box-shadow: none;
  }

  .stepsContentSection {
    height: 100%;
    padding: 0;
    z-index: 100;
    margin-top: 94px;
    height: fit-content;
  }

  .stepsContentDiv {
    width: 100%;
    height: 100%;
    margin-bottom: calc(72px + 16px);
  }

  .stepsContent {
    background: var(--neutral-white);
    gap: 14px;
    padding: 80px 24px;
    border-radius: 10px;
    width: calc(100% - 2rem);
    margin: -40px 1rem 0;
    box-sizing: border-box;
  }

  .thankYouIcon {
    width: 56px;
    height: 56px;
    margin-bottom: 12px;
  }
}
