.stepContainer {
  display: flex;
  background: var(--neutral-white);
  border-radius: 14px;
  padding: 1rem;
  flex-direction: row;
  width: 58.75rem;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.1);
}

.stepsContentSection {
  width: 100%;
  padding: 2.5rem 1rem 1rem;
  display: flex;
  justify-content: center;
  user-select: none;
}

.stepsContentDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stepsContent {
  width: 27.25rem;
  max-width: 100%;
  display: flex;
  gap: 1.625rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.thankYouIcon {
  width: 5rem;
  height: 5rem;
  margin-bottom: 0.625rem;
}

.thankYouTitle {
  color: var(--primary-blue-950);
  font-size: 2rem;
  font-weight: var(--bold-weigth);
}

.thankYouDescription {
  color: var(--neutral-grey-500);
  font-size: 1rem;
  font-weight: var(--regular-weigth);
  line-height: 1.5rem;
  text-transform: none;
  text-align: center;
}

/* Responsive Design | Mobile */
@media (max-width: 768px) {
  .stepContainer {
    background: transparent;
    border-radius: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    box-shadow: none;
  }

  .stepsContentSection {
    height: 100%;
    padding: 0;
    z-index: 100;
    margin-top: 5.875rem;
    height: fit-content;
  }

  .stepsContentDiv {
    width: 100%;
    height: 100%;
    margin-bottom: calc(4.5rem + 1rem);
  }

  .stepsContent {
    background: var(--neutral-white);
    gap: 0.875rem;
    padding: 5rem 1.5rem;
    border-radius: 10px;
    width: calc(100% - 2rem);
    margin: -2.5rem 1rem 0;
    box-sizing: border-box;
  }

  .thankYouIcon {
    width: 3.5rem;
    height: 3.5rem;
    margin-bottom: 0.75rem;
  }
}
