.secondStep {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.planContainer {
  display: flex;
  flex-direction: row;
  gap: 18px;
  width: 100%;
}

.plan {
  width: 138px;
  max-width: 100%;
  height: 160px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 20px 16px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--neutral-purple-200);
}

.plan:hover {
  border: 1px solid var(--primary-purple-600);
}

.plan img {
  width: 40px;
  height: 40px;
}

.checked {
  background: var(--background-color);
  border: 1px solid var(--primary-blue-300);
}

.planInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
}

.planName {
  color: var(--primary-blue-950);
  font-size: 16px;
  font-weight: var(--medium-weigth);
  text-transform: capitalize;
}

.planPrice {
  color: var(--neutral-purple-200);
  font-size: 14px;
  font-weight: var(--regular-weigth);
}

.planChecked {
  color: var(--primary-blue-950);
  font-size: 12px;
  font-weight: var(--medium-weigth);
}

.error {
  color: var(--primary-red-500);
  font-size: 12px;
  font-weight: var(--medium-weigth);
  text-align: left;
}

.recurrenceContainer {
  display: flex;
  flex-direction: row;
  gap: 24px;
  background: var(--background-color);
  justify-content: center;
  align-items: center;
  padding: 14px;
  font-size: 14px;
  font-weight: var(--medium-weigth);
  color: var(--neutral-purple-200);
  border-radius: 8px;
}

.switchTextChecked {
  color: var(--primary-blue-950);
}

.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-blue-950);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: var(--neutral-white);
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider:before {
  transform: translateX(18px);
}

/* Responsive Design | Mobile */
@media (max-width: 768px) {
  .secondStep {
    gap: 24px;
  }

  .planContainer {
    flex-direction: column;
    gap: 12px;
  }

  .plan {
    width: 100%;
    padding: 16px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    padding: 16px 16px 20px;
    gap: 12px;
  }

  .planInfo {
    gap: 6px;
  }
}
