.secondStep {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.planContainer {
  display: flex;
  flex-direction: row;
  gap: 1.125rem;
  width: 100%;
}

.plan {
  width: 8.625rem;
  max-width: 100%;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  padding: 1.25rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid var(--neutral-purple-200);
}

.plan:hover {
  border: 1px solid var(--primary-purple-600);
}

.plan img {
  width: 2.5rem;
  height: 2.5rem;
}

.checked {
  background: var(--background-color);
  border: 1px solid var(--primary-blue-300);
}

.planInfo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-start;
}

.planName {
  color: var(--primary-blue-950);
  font-size: 1rem;
  font-weight: var(--medium-weigth);
  text-transform: capitalize;
}

.planPrice {
  color: var(--neutral-purple-200);
  font-size: 0.875rem;
  font-weight: var(--regular-weigth);
}

.planChecked {
  color: var(--primary-blue-950);
  font-size: 0.75rem;
  font-weight: var(--medium-weigth);
}

.error {
  color: var(--primary-red-500);
  font-size: 0.75rem;
  font-weight: var(--medium-weigth);
  text-align: left;
}

.recurrenceContainer {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  background: var(--background-color);
  justify-content: center;
  align-items: center;
  padding: 0.875rem;
  font-size: 0.875rem;
  font-weight: var(--medium-weigth);
  color: var(--neutral-purple-200);
  border-radius: 8px;
}

.switchTextChecked {
  color: var(--primary-blue-950);
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.375rem;
  height: 1.25rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-blue-950);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 0.75rem;
  width: 0.75rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: var(--neutral-white);
  transition: 0.4s;
  border-radius: 50%;
}

.switch input:checked + .slider:before {
  transform: translateX(1.125rem);
}

/* Responsive Design | Mobile */
@media (max-width: 768px) {
  .secondStep {
    gap: 1.5rem;
  }

  .planContainer {
    flex-direction: column;
    gap: 0.75rem;
  }

  .plan {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    padding: 1rem 1rem 1.25rem;
    gap: 0.75rem;
  }

  .planInfo {
    gap: 0.375rem;
  }
}
