.thirdStep {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1.5rem;
}

.addon {
  width: 100%;
  height: 5rem;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1.25rem 1.375rem;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid var(--neutral-purple-200);
}

.addon:hover {
  border: 1px solid #574f98;
}

.checked {
  background: var(--background-color);
  border: 1px solid #574f98;
}

.checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  min-width: 1.25rem;
  min-height: 1.25rem;
  border-radius: 4px;
  border: 1px solid var(--neutral-purple-200);
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  position: relative;
  padding-top: 0.125rem;
}

.checkbox:checked {
  background: #473dff;
  border-color: #473dff;
}

.checkbox:checked::after {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FFF' stroke-width='2' fill='none' d='M1 4.5 4.5 8 10.5 1'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

.addonInfo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-start;
  width: 100%;
}

.addonName {
  color: var(--primary-blue-950);
  font-size: 1rem;
  font-weight: var(--medium-weigth);
  text-transform: capitalize;
}

.addonDescription {
  color: var(--neutral-grey-500);
  font-size: 0.875rem;
  font-weight: var(--regular-weigth);
}

.addonPrice {
  color: #574f98;
  font-size: 0.875rem;
  font-weight: var(--regular-weigth);
}

/* Responsive Design | Mobile */
@media (max-width: 768px) {
  .thirdStep {
    gap: 0.75rem;
  }

  .addon {
    padding: 0.875rem;
    gap: 1rem;
    height: 3.875rem;
  }
}
