.stepsContentSection {
  width: 100%;
  padding: 40px 16px 16px;
  display: flex;
  justify-content: center;
}

.stepsContentDiv {
  width: 450px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.stepsContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.stepTitle {
  color: var(--primary-blue-950);
  font-size: 2rem;
  font-weight: var(--medium-weigth);
  text-transform: none;
}

.stepDescription {
  color: var(--neutral-purple-200);
  font-size: 1rem;
  font-weight: var(--regular-weigth);
  text-transform: none;
}

.stepContentChildren {
  padding-top: 28px;
  height: 100%;
  width: 100%;
}

.stepsButtons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.stepsButtons button {
  border: none;
  cursor: pointer;
  font-weight: var(--medium-weigth);
  font-size: 1rem;
  padding: 15px 24px;
  border-radius: 6px;
  width: fit-content;
  height: fit-content;
  transition: all 0.2s ease-in-out;
}

.backButton {
  color: var(--neutral-purple-200);
  padding: 15px 24px 15px 0px;
  background-color: transparent;
}

.backButton:hover,
.backButton:active,
.backButton:focus-visible {
  color: var(--primary-blue-950) !important;
  background: transparent !important;
}

.nextButton {
  color: var(--neutral-white);
  background: var(--primary-blue-950);
  margin-left: auto;
}

.nextButton:hover,
.nextButton:active,
.nextButton:focus-visible {
  color: var(--neutral-white) !important;
  background: #174a89 !important;
}

.confirmButton {
  color: var(--neutral-white) !important;
  background: var(--primary-purple-600) !important;
  margin-left: auto;
}

.confirmButton:hover,
.confirmButton:active,
.confirmButton:focus-visible {
  background: #938cfc;
}

/* Responsive Design | Mobile */
@media (max-width: 768px) {
  .stepsContentSection {
    height: 100%;
    padding: 0;
  }

  .stepsContentDiv {
    width: 100%;
  }

  .stepsContent {
    background: var(--neutral-white);
    gap: 10px;
    padding: 30px 24px;
    border-radius: 10px;
    width: calc(100% - 2rem);
    margin: -40px 1rem 0;
    box-sizing: border-box;
  }

  .stepTitle {
    font-size: 1.5rem;
  }

  .stepContentChildren {
    padding-top: 14px;
  }

  .stepsButtons {
    background: var(--neutral-white);
    padding: 1rem;
  }

  .stepsButtons button {
    padding: 11px 15px;
    border-radius: 4px;
  }
}
