.stepsContentSection {
  width: 100%;
  padding: 2.5rem 1rem 1rem;
  display: flex;
  justify-content: center;
}

.stepsContentDiv {
  width: 28.125rem;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.stepsContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.stepTitle {
  color: var(--primary-blue-950);
  font-size: 2rem;
  font-weight: var(--bold-weigth);
  text-transform: none;
}

.stepDescription {
  color: var(--neutral-grey-500);
  font-size: 1rem;
  font-weight: var(--regular-weigth);
  text-transform: none;
}

.stepContentChildren {
  padding-top: 1.75rem;
  height: 100%;
  width: 100%;
}

.stepsButtons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.stepsButtons button {
  border: none;
  cursor: pointer;
  font-weight: var(--medium-weigth);
  font-size: 1rem;
  padding: 0.875rem 1.5rem;
  border-radius: 6px;
  width: fit-content;
  height: fit-content;
  transition: all 0.2s ease-in-out;
}

.backButton {
  color: var(--neutral-grey-500);
  padding: 0.875rem 1.5rem 0.875rem 0;
  background-color: transparent;
}

.backButton:hover,
.backButton:active,
.backButton:focus-visible {
  color: var(--primary-blue-950) !important;
  background: transparent !important;
}

.nextButton {
  color: var(--neutral-white);
  background: var(--primary-blue-950);
  margin-left: auto;
}

.nextButton:hover,
.nextButton:active,
.nextButton:focus-visible {
  color: var(--neutral-white) !important;
  background: #174a89 !important;
}

.confirmButton {
  color: var(--neutral-white) !important;
  background: var(--primary-purple-600) !important;
  margin-left: auto;
}

.confirmButton:hover,
.confirmButton:active,
.confirmButton:focus-visible {
  background: #938cfc;
}

/* Responsive Design | Mobile */
@media (max-width: 768px) {
  .stepsContentSection {
    height: 100%;
    padding: 0;
    z-index: 100;
    margin-top: 9.5rem;
    height: fit-content;
  }

  .stepsContentDiv {
    width: 100%;
    height: 100%;
    margin-bottom: calc(4.5rem + 1rem);
  }

  .stepsContent {
    background: var(--neutral-white);
    gap: 0.625rem;
    padding: 1.875rem 1.5rem;
    border-radius: 10px;
    width: calc(100% - 2rem);
    margin: -2.5rem 1rem 0;
    box-sizing: border-box;
  }

  .stepTitle {
    font-size: 1.5rem;
  }

  .stepContentChildren {
    padding-top: 0.875rem;
  }

  .stepsButtons {
    background: var(--neutral-white);
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .stepsButtons button {
    padding: 0.75rem 1rem;
    border-radius: 4px;
  }
}
