.desktopStepsMenu {
  width: 274px;
  height: 568px;
  min-width: 274px;
  background-image: url('./assets/images/bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: flex;
  padding: 2.5rem 2rem;
}

ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.stepsButton,
.stepsButton:hover,
.stepsButton:active {
  height: 2.125rem;
  width: 2.125rem;
  border-radius: 50%;
  background-color: transparent;
  font-weight: var(--bold-weigth);
  color: var(--neutral-blue-50);
  border: 1px solid var(--neutral-blue-50);
  font-size: 0.875rem;
  user-select: none;
}

.active,
.stepsButton.active:hover,
.stepsButton.active:active {
  background-color: var(--primary-blue-200);
  border-color: var(--primary-blue-200);
  color: var(--primary-blue-950);
}

.stepsDescription {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  user-select: none;
}

h3 {
  color: var(--neutral-blue-50);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: var(--bold-weigth);
  user-select: none;
  text-align: left;
}

p {
  color: var(--neutral-blue-50);
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: var(--regular-weigth);
  text-align: left;
}

.mobileStepsMenu {
  width: 100%;
  height: 172px;
  min-height: 172px;
  background-image: url('./assets/images/bg-sidebar-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 2rem 1.5rem;
  display: none;
  align-items: flex-start;
}

.mobileStepsMenu ul {
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

@media (max-width: 768px) {
  .desktopStepsMenu {
    display: none;
  }

  .mobileStepsMenu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
}
