.stepContainer {
  display: flex;
  background: #ffffff;
  border-radius: 14px;
  padding: 1rem;
  flex-direction: row;
  width: 940px;
}

/* Responsive Design | Mobile */
@media (max-width: 768px) {
  .stepContainer {
    background: transparent;
    border-radius: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
}
