.stepContainer {
  display: flex;
  background: var(--neutral-white);
  border-radius: 14px;
  padding: 1rem;
  flex-direction: row;
  width: 58.75rem;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.1);
}

/* Responsive Design | Mobile */
@media (max-width: 768px) {
  .stepContainer {
    background: transparent;
    border-radius: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    box-shadow: none;
  }
}
