.fourthStep {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding-bottom: 1.5rem;
}

.summaryContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: var(--neutral-blue-100);
  padding: 1.5rem;
  border-radius: 8px;
  gap: 1.25rem;
}

.planSummary {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.planInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  gap: 0.5rem;
}

.planName {
  color: var(--primary-blue-950);
  font-size: 1rem;
  font-weight: var(--medium-weigth);
  text-transform: capitalize;
}

.changeLink {
  color: var(--neutral-grey-500);
  font-size: 0.875rem;
  font-weight: var(--regular-weigth);
  text-decoration: underline;
  cursor: pointer;
  border: none;
  background: transparent;
}

.changeLink:hover {
  color: #5f77ef;
}

.planPrice {
  color: var(--primary-blue-950);
  font-size: 1rem;
  font-weight: var(--medium-weigth);
}

.planDivider {
  height: 1px;
  width: 100%;
  background-color: var(--neutral-purple-200);
  margin-top: 0.25rem;
}

.addOnsSummary {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  justify-content: space-between;
}

.addOnItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addOnName {
  color: var(--neutral-grey-500);
  font-size: 0.875rem;
  font-weight: var(--regular-weigth);
  text-transform: capitalize;
}

.addOnPrice {
  color: var(--primary-blue-950);
  font-size: 0.875rem;
  font-weight: var(--regular-weigth);
}

.totalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.totalLabel {
  color: var(--neutral-grey-500);
  font-size: 0.875rem;
  font-weight: var(--regular-weigth);
}

.totalPrice {
  color: #5f77ef;
  font-size: 1.25rem;
  font-weight: var(--bold-weigth);
}

/* Responsive Design | Mobile */
@media (max-width: 768px) {
  .thirdStep {
    gap: 0.75rem;
  }

  .summaryContainer {
    gap: 0.75rem;
    padding: 1rem;
  }

  .planInfo {
    gap: 0.25rem;
  }

  .addOnsSummary {
    gap: 1.25rem;
  }

  .totalContainer {
    padding: 0 1rem;
  }

  .totalPrice {
    color: #5446e3;
    font-size: 1rem;
  }
}
