.firstStep {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.headForm {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;
}

.headForm label {
  color: var(--primary-blue-950);
  font-size: 0.875rem;
  font-weight: var(--medium-weigth);
}

.headForm span {
  color: var(--primary-red-500);
  font-size: 0.75rem;
  font-weight: var(--bold-weigth);
}

.formGroup input {
  border-radius: 6px;
  border: 1px solid var(--neutral-purple-200);
  height: 3rem;
  padding: 0.875rem 1rem;
  color: var(--primary-blue-950);
  font-size: 1rem;
  font-weight: var(--medium-weigth);
}

.formGroup input::placeholder {
  color: var(--neutral-grey-500);
}

.formGroup input:focus {
  border: 1px solid var(--primary-purple-600);
  outline: none;
}

/* Responsive Design | Mobile */
@media (max-width: 768px) {
  .firstStep {
    gap: 1rem;
  }

  .formGroup {
    gap: 0.25rem;
  }
}
