.firstStep {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.headForm {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  justify-content: space-between;
}

.headForm label {
  color: var(--primary-blue-950);
  font-size: 14px;
  font-weight: var(--medium-weigth);
}

.headForm span {
  color: var(--primary-red-500);
  font-size: 12px;
  font-weight: var(--bold-weigth);
}

.formGroup input {
  border-radius: 6px;
  border: 1px solid var(--neutral-purple-200);
  height: 48px;
  padding: 15px 16px;
  color: var(--primary-blue-950);
  font-size: 16px;
  font-weight: var(--medium-weigth);
}

.formGroup input::placeholder {
  color: var(--neutral-grey-500);
}

.formGroup input:focus {
  border: 1px solid var(--primary-purple-600);
  outline: none;
}

/* Responsive Design | Mobile */
@media (max-width: 768px) {
  .firstStep {
    gap: 16px;
  }

  .formGroup {
    gap: 4px;
  }
}
