@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
  The designs were created to the following widths:
    - Mobile: 375px
    - Desktop: 1440px
*/
:root {
  /* TYPOGRAPHY */
  --font-ubuntu: 'Ubuntu', sans-serif;
  --size-font: 16px; /* Paragraph */
  --regular-weigth: 400;
  --medium-weigth: 500;
  --bold-weigth: 700;

  --background-color: #eef5ff;

  /* PRIMARY COLORS */
  --primary-blue-950: #02295a;
  --primary-purple-600: #473dff;
  --primary-blue-300: #adbeff;
  --primary-blue-200: #bfe2fd;
  --primary-red-500: #ed3548;

  /* NEUTRAL COLORS */
  --neutral-grey-500: #9699ab;
  --neutral-purple-200: #d6d9e6;
  --neutral-blue-100: #f0f5ff;
  --neutral-blue-50: #fafbff;
  --neutral-white: #ffffff;
}

body {
  font-size: var(--size-font);
  font-family: var(--font-ubuntu);
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* Responsive Design | Mobile */
@media (max-width: 768px) {
  #root {
    justify-content: initial;
    align-items: normal;
  }
}
